
@{
    ViewData["Title"] = "Subscriptions";

}

<h2 align="center">Achievements</h2>

<table style="width:100%;">
    <tr>
        <td align="center">
            <img align="middle" src="~/images/achievements-example.png" />
            <p id="userName" />
        </td>
    </tr>
</table>