@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <table align="center">
        <tr>
            <td>
                <img src="~/images/logoattempt.png" />
            </td>
            <td width="20">

            </td>
            <td>
                <h1>Task-It!</h1>
            </td>
        </tr>
    </table>    
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Task-It starter page</h2>
        <p>
            
        </p>
        <p>
            This is the starting version of Task-It, which is based on the following tutorial: https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro#the-contoso-university-web-application
        </p>
    </div>
    <div class="col-md-4">
        <h2>Task-It components</h2>
        <p>Several of the Task-It pages will be available to browse via the menus at the top. This is just a demonstration, for now</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the MVC tutorial for more info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download sample MVC source code (Contoso University)</h2>
        <p>You can download the completed sample project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>