@{
    ViewData["Title"] = "Home Page";
}

@* CSS And JS refrences *@
<head>
    <link href="~/css/fullcalendar.css" rel="stylesheet"/>
    <!-- JS Frameworks -->
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/angular.js"></script>
    <!-- Formatting/activeness via angular -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>

    <!-- dependencies -->
    <script type="text/javascript" src="~/js/moment.js"></script>
    <script type="text/javascript" src="~/js/fullcalendar.js"></script>
    <script type="text/javascript" src="~/js/gcal.js"></script>
    
    
    <!-- Actual calendar stuff -->
    <script type="text/javascript" src="~/js/calendar.js"></script>
    <script type="text/javascript" src="~/js/taskItCalendar.js"></script>
</head>

<div class="jumbotron">
    <table align="center">
        <tr>
            <td>
                <img src="~/images/logoattempt.png" />
            </td>
            <td width="20"></td>
            <td>
                <h1>Task-It!</h1>
            </td>
        </tr>
    </table>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Task-It starter page</h2>
        <p>

        </p>
        <p>
            This is the starting version of Task-It, which is based on the following tutorial: https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro#the-contoso-university-web-application
        </p>
    </div>
    <div class="col-md-4">
        <h2>Task-It components</h2>
        <p>Several of the Task-It pages will be available to browse via the menus at the top. This is just a demonstration, for now</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the MVC tutorial for more info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download sample MVC source code (Contoso University)</h2>
        <p>You can download the completed sample project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>
<div class="row" onload="renderCalendar('myCalendar1');">
    <div>
        <h2>Calendar Testing area</h2>
        <div ng-app="calendarDemoApp" ng-controller="CalendarCtrl">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
        </div>
    </div>    
</div>