@* CSS And JS refrences *@
<head>
    <link href="~/css/fullcalendar.css" rel="stylesheet" />
    <!-- calendar dependencies -->
    <script type="text/javascript" src="~/js/moment.js"></script>
    <script type="text/javascript" src="~/js/fullcalendar.js"></script>
    <script type="text/javascript" src="~/js/gcal.js"></script>


    <!-- Actual calendar stuff -->
    <script type="text/javascript" src="~/js/calendar.js"></script>
    <script type="text/javascript" src="~/js/taskItCalendar.js"></script>
</head>

<style>
    table, th, td, tr {
        border: 1px solid black;
    }
</style>


<h2 align="center">Journal</h2>
<table style="width:100%;">
    <tr>
        <td colspan="3" align="center" valign="middle" style="width:50%">
            <input id="btnNewTask" type="button" value="New task" />
        </td>
        <td colspan="4" align="center" valign="middle" style="width:50%">

            <!-- Invisible table here to align left sides of radio controls. Probably a better way to do this but oh well! -->
            <table style="border:0px">
                <tr style="border:0px">
                    <td style="border:0px">
                        <input id="Daily view" type="radio" name="viewtype" value="daily" />Daily view<br />
                        <input id="Weekly view" type="radio" name="viewtype" value="weekly" checked />Weekly view<br />
                    </td>
                </tr>
            </table>
                
        </td>
    </tr>
    <tr>
        <td>

        </td>

        <!--
        <td colspan="2" align="center" valign="middle">
            <img src="~/images/journal-example.png" /> 
        </td>
            -->
    </tr>
</table>
<div class="row" onload="renderCalendar('myCalendar1');">
    <div>
        <h2>Calendar Testing area</h2>
        <div ng-app="calendarDemoApp" ng-controller="CalendarCtrl">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
        </div>
    </div>
</div>