@* CSS And JS refrences *@
@using TaskItSite.Models.MainViewModels
@model TaskViewModel
@{
    ViewData["Title"] = "Tasks";
}

<head>
    <link href="~/css/fullcalendar.css" rel="stylesheet" />
    <!-- calendar dependencies -->
    <script type="text/javascript" src="~/js/moment.js"></script>
    <script type="text/javascript" src="~/js/fullcalendar.js"></script>
    <script type="text/javascript" src="~/js/gcal.js"></script>


    <!-- Actual calendar stuff -->
    <script type="text/javascript" src="~/js/calendar.js"></script>
    <script type="text/javascript" src="~/js/taskItCalendar.js"></script>
</head>

<style>
    table, th, td, tr {
        border: 1px solid black;
    }
</style>


<h2 align="center">Task Manager</h2>

<div class="row" onload="renderCalendar('myCalendar1');">
        <h2>Calendar Testing area</h2>
        <div ng-app="TaskItApp" ng-controller="CalendarCtrl">
          
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" ng-init="init('@Model.CurrentUser.FullName')"> </div>

           <!--Area for editting/viewing, theres a bootstrap thing for this but I don't know its name at the moment-->
            <div>
                <!--Shows user id for testing-->
                
                {{ test }}                
                {{ userId }}
                
                @await Html.PartialAsync("~/Views/Tasks/Create.cshtml", new TaskItSite.Models.Task());
                
            </div>
               
        </div>
   
</div>