

@{
    ViewData["Title"] = "Subscriptions";
}

<h2 align="center">Subscriptions</h2>

<form method="post">
    <table style="width:100%;">
        <tr>
            <td align="center">
                <img align="middle" src="~/images/subscriptions-example.png" />
                <p id="userName" />
            </td>
        </tr>
    </table>
</form>